@import '../../colors';

.form-btns {
	gap: 1.5rem !important;
	margin-top: 2rem !important;
}

.cancel-btn {
	background: $btn-secondary !important;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: $btn-secondary-hover !important;
	}
}

.booking-type-badge {
	padding: 4px 10px;
	background: rgba(0, 0, 0, 0.65);
	color: $primary-86;
	backdrop-filter: blur(6px);
	text-transform: uppercase;
	border-radius: 999px;
	font-size: 1.5rem;
}
