@import '../../colors';

.form-btns {
	gap: 1.5rem !important;
	margin-top: 2rem !important;
}

.cancel-btn {
	background: $btn-secondary !important;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: $btn-secondary-hover !important;
	}
}
