@import '../../colors';

.pagination{
    max-width: 480px;
    margin: 0 auto;
    z-index: -1;
    .page-link{
        font-size: 14px;
        border-radius: 5px;
        width: unset;
        max-width: unset;
        min-width: 32px;
        height: 32px;
        text-align: center;
        margin-right: 13px;
        line-height: 24px;
    }

    .page-item.active {
        z-index: 0;
    }
    .page-item.active .page-link{
        color: $white;
        font-weight: 500;
    }
    
    .page-item:first-child{
        margin-left: auto;
    }
    .page-item:last-child{
        margin-right: auto;
    }
}
select.select-text{
    border: none;
    background: transparent;
    cursor: pointer;
}