$primary-6: #001c1f; // background, menu hover
$primary-13: #003c43; // sidebar
$primary-19: #015862; // icon background
$primary-37: #2c8993; // icon hover
$primary-67: #56efff;
$primary-97: #cffaff; // text, icons
$primary-86: #b8f8ff; // menu icons
$pink-dark: #d136af;
$pink-light: #ffcef4;
$green-dark: #28be2e;
$green-bright: #00ff00;
$green-light: #ceffd0;
$orange-dark: #ffa24f;
$orange-light: #feefe1;
$white: #fff;
$overview-card: #102e31;
$grey-light: #c8c8c8;

$table-row: #102e31;

$action-btn-border: #e3fef7;
$action-btn-hover: #2c8993;
$action-btn-bg: #001c1f;

$box-bg: #102e31;
$input-bg: #076570;

$rate-plus-light: #4bf847;
$rate-plus-dark: rgba(75, 248, 71, 0.14);
$rate-minus-light: #ff4e59;
$rate-minus-dark: rgba(193, 4, 15, 0.21);

$booked: #fd7575;
$available: #14b72e;

$input-error: #f95555;

$btn-bg: linear-gradient(135deg, #2c8993 0%, #1f6570 100%);
$btn-bg-hover: linear-gradient(135deg, #4fb3bf 0%, #2c8993 100%);
$btn-secondary: linear-gradient(90deg, #fff 0%, #708e92 100%);
$btn-secondary-hover: linear-gradient(90deg, #ededed 0%, #47656a 100%);
$btn-border: none;
$btn-text-color: #cffaff;

$btn-cancel-bg: #3a4a4d;
$btn-cancel-bg-hover: #4a5a5d;
$btn-cancel-border: #4a5a5d;
$btn-cancel-border-hover: #5a6a6d;
$btn-cancel-text: #a8b2b4;
$btn-cancel-text-hover: #c8d2d4;

$image-bg: linear-gradient(0deg, rgba(0, 28, 31, 0.67) 0%, rgba(0, 28, 31, 0.67) 100%), lightgray 50% / cover no-repeat;
// $image-bg: linear-gradient(0deg, rgba(0, 28, 31, 0.67) 0%, rgba(0, 28, 31, 0.67) 100%),
// 	url(<path-to-image>) lightgray 50% / cover no-repeat;
$image-shadow: 0px 0px 8px 0px #56efff;

$sidebar-shadow: 0px 0px 32px 0px #1f4246;
