@import './colors';
@import '../src/ui/Bookings/bookins.scss';
@import '../src/ui/Table/table.scss';
@import '../src/ui/Table/paginationBtn.scss';
@import '../src/ui/Table/pagination.scss';

* {
	margin: 0 !important;
	position: 0 !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;

	&::after,
	&::before {
		margin: 0 !important;
		position: 0 !important;
		-webkit-box-sizing: border-box !important;
		box-sizing: border-box !important;
	}
}

html {
	font-size: 62.5% !important;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #001c1f;
	color: #fff;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(16, 46, 49, 1);
}

::-webkit-scrollbar-thumb {
	background-color: #003c43;
	outline: 1px solid #015862;
}

.row {
	--bs-gutter-x: 0;
}

.layout-container {
	display: flex;
	grid-template-columns: 1fr auto;
}

.section-margin {
	margin-bottom: 2.7rem !important;
}

.main-box {
	height: 100vh;
	overflow: scroll;
}

.nav-bg {
	background-color: #003c43;
	-webkit-box-shadow: 0px 0px 32px 0px #1f4246;
	box-shadow: 0px 0px 32px 0px #1f4246;
}

.aside {
	padding: 3.7rem 0.5rem;

	/* background-color: #003c43;
    -webkit-box-shadow: 0px 0px 32px 0px #1f4246;
    box-shadow: 0px 0px 32px 0px #1f4246; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 260px;
	height: 100%;
}

.nav-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 3rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.copyright {
	color: #cffaff;
	font-weight: 500;
	font-size: 1.3rem;
	text-align: center;
	margin-top: 4rem;

	span {
		font-weight: 500;
	}
}

.nav {
	width: 100%;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 0.8rem;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease-in-out;

	&:hover {
		color: #cffaff;
	}

	p {
		margin-bottom: 0 !important;
		font-family: 'Caudex', serif;
		font-weight: 600;
		font-size: 1.5rem;
	}

	img {
		width: 30px;
		height: 30px;
	}
}

.nav-list {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.8rem;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-item {
	width: 100%;
}

.nav-link {
	text-decoration: none;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1.2rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 0.5rem !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	&:hover {
		background-color: #001c1f;
		border-radius: 6px;
		text-decoration: none;
		color: #fff;
	}

	&.active {
		background-color: #001c1f;
		border-radius: 6px;
		text-decoration: none;
		color: #fff;

		&:link,
		&:visited {
			background-color: #001c1f;
			border-radius: 6px;
			text-decoration: none;
			color: #fff;
		}
	}
}
.button {
	border-radius: 6px;
	padding: 0.7rem 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	color: $btn-text-color;
	background: $btn-bg;
	border: 1px solid $btn-border;
	transition: background 0.3s ease-in-out;
	margin-right: 0 !important;

	&:hover {
		background: $btn-bg-hover;
	}

	&:disabled {
		background: $btn-bg-hover;
	}
}

.input:-webkit-autofill {
	border: 1px solid $primary-97;
	-webkit-text-fill-color: $primary-97;
	transition: background-color 5000s ease-in-out 0s;
}

.form {
	background-color: $box-bg;
	border-radius: 6px;
	padding: 3rem 2.1rem;
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;

	&__box {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		gap: 1.5rem;
		// justify-content: space-between;
	}

	.label {
		font-size: 1.6rem;
		font-weight: 700;
		text-transform: capitalize;
	}

	.error-msg {
		color: $booked;
		font-size: 1.3rem;
	}
	.input-error {
		border: 1px solid $booked !important;
	}
	.input {
		border-radius: 6px;
		background-color: $input-bg;
		padding: 1rem 1.5rem;
		color: $primary-97;
		font-size: 1.2rem;
		// font-size: 1.6rem;
		border: none;
		cursor: pointer;
		border: 1px solid transparent;
		transition: all 0.3s ease-in-out;
		position: initial;
		z-index: 2;

		&:hover,
		&:focus,
		&:active {
			border: 1px solid $primary-97;
			background-color: $input-bg;
		}

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: $grey-light;
		}

		&:-internal-autofill-selected {
			// border: 1px solid $primary-97 !important;
			background-color: $input-bg !important;
			appearance: none !important;
			color: $primary-97 !important;
		}
	}

	// .react-select__control {
	//     background-color: transparent;
	//     border: none;
	// }

	.datepicker-wrapper {
		position: relative;
		svg {
			position: absolute;
			top: 40%;
			transform: translateY(-40%);
			right: 1.5rem;
			z-index: 0;
		}
	}

	input[type='radio'] {
		width: 15px;
		height: 15px;
		cursor: pointer;
	}

	.radio-input {
		appearance: none;
		-webkit-appearance: none;
		border: 1px solid $primary-67;
		background-color: transparent;
		border-radius: 50%;

		&:hover {
			// border-width: 0;
			border: 1px solid $grey-light;
		}

		&:checked {
			box-shadow: 0 0 0 1px $primary-67;
			background-color: $primary-67;
			// border: 1px solid $primary-67;
			border-width: 1px;
		}

		&:focus-visible {
			outline-offset: 0;
		}
	}
	// input[type='radio'] {
	// 	-webkit-appearance: none;
	// 	appearance: none;
	// 	background-color: #fff;
	// 	margin: 0;
	// 	background-color: transparent;
	// 	border: 1px solid $primary-67;
	// 	border-radius: 50%;
	// 	height: 15px;
	// 	width: 15px;
	// 	display: grid !important;
	// 	place-content: center;
	// 	cursor: pointer;
	// 	transition: all 0.3s ease-in-out;

	// 	// &:hover {
	// 	//     background-color: $primary-67;
	// 	// }

	// 	&::before {
	// 		content: '';
	// 		height: 10px;
	// 		height: 10px;
	// 		border-radius: 50%;
	// 		transform: scale(0);
	// 		transition: transform 0.3s ease-in-out;
	// 		box-shadow: inset 1em 1em $primary-67;
	// 	}

	// 	&:checked::before {
	// 		transform: scale(1);
	// 	}
	// }

	.radioGroup {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.radioBtn {
		display: flex;
		gap: 1.5rem;
	}
}

.react-datepicker-wrapper {
	width: 100%;
}
// .react-datepicker__input-container,
// .react-datepicker__input-container input {
//     display: block;
//     width: 100%;
// }

.react-datepicker {
	border: 1px solid $primary-86 !important;
}

.react-datepicker__navigation-icon::before {
	border-color: $primary-86 !important;
}

.react-datepicker__header {
	background-color: $primary-13 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
	color: $white !important;
}
.react-datepicker__day--range-start {
	background-color: $primary-67 !important;
	// color: $white;
}

// .react-datepicker__week--keyboard-selected {
//     background-color: $primary-37 !important;
// }

// .react-datepicker__month {
//     background: $grey-light !important;
// }

.react-datepicker__day--disabled {
	color: $grey-light !important;
}

// .react-datepicker__day {
//     color: $primary-97 !important;
// }
.react-datepicker__day--today {
	background-color: $primary-37 !important;
	color: black !important;
}
.react-datepicker__day--in-range {
	background-color: $primary-86 !important;
	// color: $white;
	color: black !important;
}
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--in-selecting-range {
	background-color: $primary-86 !important;
	// color: $white;
	color: black !important;
}

.route-box {
	display: none;
}

.igloos-dropdown {
	height: 100%;
}

.stats-dropdown,
.igloos-dropdown {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0.3rem 0.8rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 1px solid #56efff;
	background: transparent;
	color: #cffaff;
	border-radius: 6px;
	position: relative;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 700;

	option {
		background: #001c1f;
	}

	img {
		position: absolute;
		right: 0.7rem;
		width: 15px;
		height: 15px;
	}
}

.main {
	/* overflow: scroll; */
	padding: 3.7rem 1rem;

	.header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 2rem;

		.user {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 1rem;
		}

		.user-img {
			position: relative;

			img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 1px solid #56efff;
				-o-object-fit: cover;
				object-fit: cover;
				aspect-ratio: 1/1;
			}
		}

		.user-status {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid #fff;
			position: absolute;
			top: 0;
			right: 0;
		}

		.user-status--active {
			background-color: #4bf847;
		}

		.user-status--inactive {
			background-color: #ff4e59;
		}

		.user-data {
			.user-name {
				color: #56efff;
				font-weight: 700;
			}

			.user-mail {
				font-size: 1.5rem;
				font-weight: 300;
				color: #cffaff;
			}
		}
	}

	.action-btns-dropdown {
		border-radius: 6px;
		border: 1px solid #56efff;
		height: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 30px;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #003c43;
		}
	}

	.actions-status {
		position: absolute;
		border-radius: 50%;
		width: 8px;
		height: 8px;
		top: 0.8rem;
		right: 0.3rem;
	}

	.actions-status--notification {
		background-color: #ff4e59;
	}

	.action-btns {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: row;
		gap: 0.8rem;
		display: none;

		button {
			border-radius: 4px;
			padding: 0.2rem 0.4rem;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			position: relative;

			svg {
				width: 18px;
				height: 18px;
			}

			&:hover {
				background-color: #2c8993;
			}
		}
	}
}

.section {
	color: #cffaff;

	.heading {
		h1 {
			font-size: 1.8rem;
			font-weight: 600;
			text-transform: capitalize;
		}

		p {
			color: #2c8993;
			font-weight: 700;
			font-size: 1.4rem;
		}
	}

	.section-stats__box {
		/* height: 30rem; */
		/* height: auto; */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.overview {
		background-color: #102e31;
		white-space: nowrap;
		border-radius: 6px;
		padding: 1.5rem 2.5rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 1rem;
	}
}

.section-box {
	background-color: #102e31;
	white-space: nowrap;
	border-radius: 6px;
	padding: 1.5rem 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1rem;
}

.section {
	.overview {
		.overview-content {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 2rem;
		}

		.overview-top {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: start;

			p {
				font-size: 1.5rem;
				font-weight: 600;
			}

			// .stats-dropdown {
			// 	display: -webkit-box;
			// 	display: -ms-flexbox;
			// 	display: flex;
			// 	padding: 0.3rem 0.8rem;
			// 	-webkit-box-align: center;
			// 	-ms-flex-align: center;
			// 	align-items: center;
			// 	-webkit-box-pack: justify;
			// 	-ms-flex-pack: justify;
			// 	justify-content: space-between;
			// 	border: 1px solid #56efff;
			// 	background: transparent;
			// 	color: #cffaff;
			// 	border-radius: 6px;
			// 	position: relative;
			// 	cursor: pointer;
			// 	font-size: 1.1rem;
			// 	font-weight: 700;

			// 	option {
			// 		background: #001c1f;
			// 	}

			// 	img {
			// 		position: absolute;
			// 		right: 0.5rem;
			// 		width: 15px;
			// 		height: 15px;
			// 	}
			// }
		}

		.overview-card {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 1rem;
			background-color: #001c1f;
			border-radius: 6px;
			gap: 1rem;
		}

		.overview-card__icon-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}

		.overview-card__icon-box--bookings {
			background-color: #ffcef4;
		}

		.overview-card__icon-box--checkins {
			background-color: #ceffd0;
		}

		.overview-card__icon-box--occupancy {
			background-color: #feefe1;
		}

		.overview-card__icon-box img {
			width: 20px;
			height: 20px;
		}

		.overview-card__stats {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			gap: 0.4rem;
		}

		.overview-card__stats--title {
			font-size: 0.9rem;
			font-weight: 300;
			line-height: 136.345%;
			letter-spacing: 1.62px;
			text-transform: uppercase;
			color: #c8c8c8;
		}

		.overview-card__stats--number {
			color: #cffaff;
			font-size: 1.4rem;
			font-weight: 700;
		}

		.overview-card__percentage-stats {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			border-radius: 4px;
			font-size: 1.1rem;
			font-weight: 700;
			padding: 0.3rem;
			width: 80%;
		}

		.overview-card__percentage-stats--plus {
			background-color: rgba(75, 248, 71, 0.14);
			color: #4bf847;
		}

		.overview-card__percentage-stats--minus {
			background-color: rgba(193, 4, 15, 0.21);
			color: #ff4e59;
		}
	}

	.section__popular-igloos {
		overflow: hidden;
	}

	.popular-igloos {
		.igloo {
			position: relative;
		}

		.igloo-img {
			position: relative;
			border-radius: 6px;

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 6px;
				background-color: rgba(0, 0, 0, 0.5);
			}

			img {
				border-radius: 6px;
				height: 100%;
				width: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				aspect-ratio: 1/1;
			}
		}

		.igloo-info {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			gap: 1rem;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: start;
			position: absolute;
			bottom: 4rem;
			left: 4rem;

			p {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1.3rem;
			}

			.booking-status {
				padding: 0.9rem 1.3rem;
				border-radius: 50px;
				display: inline-block;
				text-align: center;
				width: auto;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				p {
					text-transform: uppercase;
					font-weight: 600;
					font-size: 1.2rem;
					color: #fff;
				}
			}

			.booking-status--available {
				background-color: #14b72e;
			}

			.booking-status--booked {
				background-color: #fd7575;
			}
		}
	}
}

/* @media screen and (min-width: 680px) {
      .aside {
          height: 100% !important;
      }
  } */

/* carousel */

.slick-prev,
.slick-next {
	z-index: 10;
}

.slick-prev {
	left: 1rem;
}

.slick-next {
	right: 1rem;
}

/* the slides */

.slick-slide {
	margin: 0 1rem !important;
}

/* the parent */

.slick-list {
	margin: 0 -1rem !important;
}

.react-multi-carousel-track {
	gap: 1.5rem;
}

.react-multiple-carousel__arrow:hover {
	/* border: .3px solid #56efff; */
	/* background: transparent; */
	background: rgba(0, 28, 31, 0.8);
}

.slick-prev:before,
.slick-next:before {
	color: #56efff;
}

.slick-dots {
	position: unset;
}

.slick-slider {
	overflow: hidden;
}

.slick-dots li button::before {
	color: #56efff;
}

/* charts */

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
	stroke: #cffaff;
}

.recharts-default-tooltip {
	background: #001c1f !important;
}

.recharts-tooltip-item-list {
	font-size: 1.2rem;
	font-weight: 500;
}

.recharts-tooltip-label {
	font-size: 1.2rem;
	font-weight: 700;
}

/* .react-multiple-carousel__arrow--right {
      right: calc(1% + 1px);
  }
  .react-multiple-carousel__arrow--left {
      left: calc(1% + 1px);
  } */

.react-multiple-carousel__arrow::before {
	color: #56efff;
}

@media (max-width: 768px) {
	.nav-item {
		position: relative;
	}

	.route-box {
		position: absolute;
		right: -23px;
		top: 50%;
		width: 50%;
		height: 50%;
		background: #003c43;
		border: 1px solid #56efff;
		border-radius: 6px;
		text-align: center;
		padding: 0.8rem;
		display: none;
		align-items: center;
		justify-content: center;
		transform: translateY(-50%);
		transition: display 0.3s ease-in-out;

		p {
			font-size: 1.1rem;
			font-weight: 400;
		}
	}

	.nav-link:hover .route-box {
		display: flex;
	}
}

@media (min-width: 768px) {
	.heading h1 {
		font-size: 2.5rem !important;
	}

	.aside {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		padding: 3.7rem 2.8rem;
	}

	.nav-list {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}

	.nav-link {
		gap: 1.2rem !important;
		padding: 0;
		margin: 0;
		font-size: 1.5rem;
		font-weight: 400;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}

	.logo {
		align-self: flex-start;

		img {
			width: 40px;
			height: 40px;
		}
	}

	.main {
		padding: 3.7rem 2.3rem;

		.header {
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: end;

			.action-btns {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;

				button svg {
					width: 25px;
					height: 25px;
				}
			}

			.user-data .user-name {
				font-size: 1.7rem;
			}

			.user-img img {
				width: 40px;
				height: 40px;
			}
		}

		.actions-status {
			width: 8px;
			height: 8px;
		}
	}

	.overview {
		padding: 2rem;
		gap: 1.5rem;
	}

	.overview-top {
		.overview-title {
			font-size: 1.7rem !important;
		}

		.stats-dropdown {
			width: 20%;
		}
	}

	.overview-card {
		padding: 2rem 3rem !important;
	}

	.overview-card__icon-box {
		width: 30px !important;
		height: 30px !important;

		img {
			width: 20px !important;
			height: 20px !important;
		}
	}

	.overview-card__stats {
		gap: 0.9rem !important;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.overview-card__stats--title {
		margin-bottom: 0.3rem !important;
		font-size: 1.2rem !important;
	}

	.overview-card__stats--number {
		font-size: 1.7rem !important;
	}
}

@media (min-width: 992px) {
	.section-margin {
		margin-bottom: 4rem !important;
	}

	.main {
		padding: 3.7rem 4rem;
	}

	.stats-dropdown {
		width: 14% !important;
	}

	.overview {
		.overview-card {
			gap: 2rem !important;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}

		.overview-card__icon-box {
			width: 40px !important;
			height: 40px !important;

			img {
				width: 25px !important;
				height: 25px !important;
			}
		}

		.overview-card__stats {
			-webkit-box-orient: horizontal !important;
			-webkit-box-direction: normal !important;
			-ms-flex-direction: row !important;
			flex-direction: row !important;
			-webkit-box-align: start !important;
			-ms-flex-align: start !important;
			align-items: start !important;
			min-width: 150px !important;
		}

		.overview-card__stats--box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			height: 100%;
		}

		.overview-card__stats--title {
			font-size: 1.4rem !important;
		}

		.overview-card__stats--number {
			font-size: 2rem !important;
		}
	}
}

@media (min-width: 1200px) {
	.main {
		padding: 3.7rem 5rem !important;
	}

	.logo p {
		font-size: 1.7rem;
	}

	.nav-link {
		font-size: 1.6rem;
	}

	.overview {
		.overview-card {
			gap: 3rem !important;
			width: 33% !important;
			-webkit-box-orient: horizontal !important;
			-webkit-box-direction: normal !important;
			-ms-flex-direction: row !important;
			flex-direction: row !important;
		}

		.overview-card__stats {
			min-width: 150px !important;
			-webkit-box-flex: 2 !important;
			-ms-flex: 2 !important;
			flex: 2 !important;
			gap: 1.3rem !important;
		}

		.overview-card__stats--title {
			font-size: 1.6rem !important;
		}

		.overview-card__stats--number {
			font-size: 2.2rem !important;
		}

		.overview-card__percentage-stats {
			padding: 0.5rem 0.3rem !important;
			max-width: 76px !important;

			p {
				font-size: 1.3rem;
			}
		}
	}
}

@media (min-width: 1500px) {
	.main {
		padding: 3.7rem 7rem;
	}

	.stats-dropdown {
		width: 10% !important;
	}

	.overview .overview-content {
		gap: 7rem !important;
	}
}

/*# sourceMappingURL=styles.css.map */
