// @import '../../colors';

.customers-table {
	&__phone,
	&__nationality {
		color: $grey-light;
		font-size: 1.3rem;
	}

	// &__nationality {
	// 	text-transform: uppercase;
	// }
}
.promo-table {
	&__valid-period {
		font-size: 1.2rem;
		font-weight: 700;
	}

	&__name {
		font-weight: bold;
		font-size: 1.4rem;
	}

	&__discount {
		color: $green-light;
		font-weight: 700;
	}

	&__description {
		font-size: 1.2rem;
		font-weight: 500;
		color: $grey-light;
	}
}

.bookings-table {
	&__igloo {
		font-weight: bold;
		font-size: 1.4rem;
	}

	&__guest {
		display: flex;
		flex-direction: column;

		.name {
			font-size: 1.4rem;
			font-weight: 500;
		}

		.email {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}

	&__dates,
	&__amount {
		font-size: 1.2rem;
		font-weight: 700;
	}

	&__actions {
		display: flex;
		gap: 0.5rem;
		justify-content: space-between;

		span {
			border-radius: 6px;
			background: none;
			padding: 0.4rem;
			transition: all 0.3s ease-in-out;
			cursor: pointer !important;
			&:hover {
				background: $primary-19;
			}
		}
	}
}

.users-table {
	img {
		border-radius: 6px;
	}
	&__img {
		width: 8rem;
		height: 8rem;
		box-shadow: 0 0 2px 0 $primary-67;
		object-fit: cover;
	}

	&__name,
	&__address {
		display: flex;
		flex-direction: column;
	}

	&__name {
		.name {
			font-size: 1.4rem;
			font-weight: 500;
		}

		.email {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}

	&__address {
		color: $grey-light;
		.street {
			font-weight: 600;
		}
	}

	&__role {
		text-transform: uppercase;
	}

	tbody {
		td {
			&:first-of-type {
				padding: 0 !important;
			}
			// padding: 0 !important;
		}
	}

	&__actions {
		display: flex;
		// gap: 0.5rem;
		justify-content: space-between;

		span {
			border-radius: 6px;
			background: none;
			padding: 0.4rem;
			transition: all 0.3s ease-in-out;
			&:hover {
				background: $primary-19;
			}
		}
	}
}

.igloos-table {
	// &__td-img {
	// 	padding: 0 !important;
	// }

	img {
		border-radius: 6px;
	}

	&__img {
		width: 8rem;
		height: 8rem;
		box-shadow: 0 0 2px 0 $primary-67;
	}

	&__name {
		font-size: 1.4rem;
		font-weight: 600;
	}

	&__capacity {
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 1.5px;
	}

	&__price {
		font-size: 1.2rem;
		font-weight: 700;
	}

	&__promotion {
		// font-size: 1.2em;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			color: $green-light;
		}
	}

	&__actions {
		display: flex;
		// gap: 0.5rem;
		justify-content: space-between;

		span {
			border-radius: 6px;
			background: none;
			padding: 0.4rem;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $primary-19;
			}
		}

		// .edit-icon {
		// 	&:hover {
		// 		svg {
		// 			path {
		// 				stroke: $primary-86;
		// 			}
		// 		}
		// 	}
		// }

		// .delete-icon,
		// .view-icon {
		// 	&:hover {
		// 		svg {
		// 			path {
		// 				fill: $primary-86;
		// 				stroke: $primary-86;
		// 			}
		// 		}
		// 	}
		// }
	}

	tbody {
		td {
			&:first-of-type {
				padding: 0 !important;
			}
			// padding: 0 !important;
		}
	}
}

.status {
	border-radius: 50px;
	text-transform: uppercase;
	line-height: normal;
	font-size: 1.3rem;
	padding: 0.6rem 1.2rem;
	text-align: center;
	// width: 50%;

	&__out {
		color: #888;
		border: 1px solid #888;
		background-color: #e8e8e8;
	}

	&__in,
	&__completed {
		color: #28be2e;
		border: 1px solid #28be2e;
		background-color: #ceffd0;
	}

	&__confirmed {
		border: 1px solid #1c8b97;
		color: #1c8b97;
		background-color: #cffaff;
	}

	&__unconfirmed,
	&__pending {
		border: 1px solid #ec7d1a;
		background-color: #ffd4ab;
		color: #ec7d1a;
	}

	&__cancelled,
	&__inactive {
		background-color: #fd7575;
		border: 1px solid #831414;
		color: #831414;
	}

	&__active {
		background-color: $green-light;
		border: 1px solid $green-dark;
		color: $green-dark;
	}
}

.table-container {
	border-radius: 6px;
}

.table-wrapper {
	padding: 1rem;
	background-color: $white;
	border-radius: 4px;
	border: 1px solid $primary-6;

	p {
		text-align: center;
		padding-top: 1rem;
		font-weight: 500;
		color: $primary-97;
	}
}

.table tbody td {
	cursor: initial !important;
}

.table {
	border-radius: 6px;
	font-family: inherit;

	thead {
		th {
			background-color: $primary-13;
			font-size: 1.2rem;
			padding: 1.5rem 1.7rem;
			cursor: pointer;
			color: $primary-97;
			// font-size: 1.5rem;
			font-weight: 600;
			border-bottom: 1px solid $primary-6;
		}
		&.bold {
			th {
				font-weight: 500;
			}
		}
	}
	tbody {
		td {
			background-color: $table-row !important;
			color: $white;
			font-size: 1.2rem;
			padding: 1.5rem 1.7rem;
			&:last-of-type {
				cursor: pointer !important;
			}
		}
		tr {
			// font-weight: 500;
			border-bottom: 1px solid $primary-6;
			cursor: unset !important;
		}
		th,
		td {
			cursor: pointer;
			vertical-align: middle;
		}
		// tr{
		//     &.active td{
		//         border-top: 1px solid $lightblue_pressed;
		//         border-bottom: 1px solid $lightblue_pressed;
		//         background-color: $table_selected;
		//         &:first-child{
		//             border-left: 1px solid $lightblue_pressed;
		//         }
		//         &:last-child{
		//             border-right: 1px solid $lightblue_pressed;
		//         }
		//     }
		// }
	}

	&.table-sm {
		> :not(caption) > * > * {
			padding: 1.3rem 1.7rem;
		}
		thead {
			th {
				background-color: $table-row;
				font-size: 1.2rem;
				padding: 1rem 1.7rem;
			}
		}
		td {
			cursor: inherit;
		}
	}
}

.pagination-row {
	background-color: $primary-13;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1.7rem;
	width: 100%;
	position: sticky;
	bottom: 0;
	left: 0;
}

.pagination-btns {
	display: flex;
	align-items: center;
	gap: 2rem;

	&__group {
		button {
			background-color: transparent;
			border: none;
			color: $primary-97;
			font-size: 1.5rem;
			font-weight: 300;
			font-family: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				// background-color: $primary-19;
				// border-radius: 6px;
				color: $primary-67;

				svg {
					path {
						fill: $primary-67;
					}
				}
			}

			&:disabled {
				color: $grey-light;
				cursor: not-allowed;

				svg {
					path {
						fill: $grey-light;
					}
				}
			}
		}
	}
}

.pagination-info {
	font-size: 1.4rem;
	font-weight: 300;

	span {
		font-weight: 500;
		font-size: 1.5rem;
	}
}

@media (min-width: 1400px) {
	.status {
		width: 70% !important;
	}
}
@media (min-width: 1700px) {
	.status {
		width: 50% !important;
	}
}
@media (min-width: 2000px) {
	.status {
		width: 40% !important;
	}
}
